main {
    padding-bottom: 30px;
}

li, h4 {
    margin-bottom: 30px;
}

a {
    text-decoration: none;
    font-weight: 900;
    color: #0074c7;
    border-color: #0074c7;
    background-color: white;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
}

a:hover {
    cursor: pointer;
    color: #0074c79e;
    border-color: #0074c79e;
}

.validation {
    margin: 20px;
}

.lesson {
    padding: 0 30px;
}

p {
    text-indent: 5%;
    text-align: justify;
}