{% extends 'base.html.twig' %}

{% block title %}Gérer un Thème{% endblock %}

{% block body %}
    <h1>{% if lesson.id is defined %}Modifier{% else %}Ajouter{% endif %} une Leçon</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">Enregistrer</button>
    {{ form_end(form) }}

    <a href="{{ path('admin_content') }}">Retour</a>
{% endblock %}
