{% extends 'base.html.twig' %}

{% block title %}{{ lesson.name }}{% endblock %}

{% block body %}
    <h1>{{ lesson.name }}</h1>

    {% if lesson not in app.user.validatedLessons %}
        <a href="{{ path('validate_lesson', { id: lesson.id }) }}" class="btn btn-success">Valider la leçon</a>
    {% else %}
        <span class="text-success">Leçon validée ✅</span>
    {% endif %}

    <a href="{{ path('app_theme_show', { id: lesson.cursus.theme.id }) }}">Retour au thème</a>
{% endblock %}
